registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/ #RELEASE
@sap:registry=https://int.repositories.cloud.sap/artifactory/api/npm/build-releases-npm/ #RELEASE
strict-ssl=false
